.echipa-echipelor
  h2.echipa-echipelor__titlu Our team
  .echipa-echipelor__lista-imagine
    each imageName in data.imageNameList
      .echipa-echipelor__imagine(
        style=`background-image: url(/asset/image/${imageName.image}.jpg)`
      )
      h2.echipa-echiplor__nume=imageName.name
