%sectiune-smechera {
  // min-height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.5);
}

%mega-ultra__titlu {
  color: $color-white;
  text-align: center;
  padding: 1rem 0;
  // border: 1px dashed white;
}