.focus
  h2.focus__titlu Our focus is on efficiency
  p.focus__descriere We design and develop for the future as it's closer than we think. Our focus is on efficiency to deliver and improve the relation among the developer, client and users.
  p.focus__descriere As a PERSON, you want to achieve financial freedom and ride the wave with a job or trade of the future. The future won't surprise you as you'll be part of the ones that create it.
  p.focus__descriere As a COMPANY, you really want a web developer from us as we are not recruiters. We build them and in the process we get to know our students very well and develop strong relationships.
  p.focus__descriere It's a win - win - win. Don't forget to check us out at #[a(href="https://info.codetap.academy") info.codetap.academy], connect with us and stay tuned, we share something every day.