.teasta
  h1.teasta__titlu Facts back our statements
  h2.teasta__titlu We're busy growing the CodeTap Academy
  p.teasta__descriere At CodeTap, we translate geek into English and turn people into coders!
  p.teasta__box 
    span.teasta__box-message Check us out at
    a.teasta__link(href="https://info.codetap.academy") info.codetap.academy